<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:uses-permissionandroid="http://schemas.android.com/apk/res-auto"
    package="com.example.david_pc.valendo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaCadastroCliente" />
        <activity android:name=".TelaCadastroPrestador" />
        <activity android:name=".TelaSelecaoCadastro" />
        <activity android:name=".TelaEscolheServicoPrestador" />
        <activity
            android:name=".TelaPerfil"
            android:label="@string/title_activity_tela_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TelaSelecionaServicoPrestador" />
        <activity
            android:name=".TelaPerfilDePrestador"
            android:label="@string/title_activity_tela_perfil_de_prestador"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>